extends layout

block content
  // ---------------------------------CSS----------------------------------
  link(rel='stylesheet', href='/stylesheets/account.css')
  // ----------------------------------------------------------------------

  // ---------------------------------CONTENT------------------------------
  .container

    .row.center-align
      .col.s12
        .card.deep-purple
          .card-content
            h5.white-text.text-darken-2 My Account
      .col.s5.push-s6
        img.responsive-img.circle#accimg(src='/images/profile_pics/' + user.image alt='Image Circle')
      .col.s5.pull-s5
        .card.deep-purple
          .card-content.white-text-action
            a(href="/account/items") Manage Items
            .row
            a(href="/account/inboxv2") Inbox
      .col.s5.pull-s5
        .card.deep-purple
          .card-content.white-text
            .row.valign-wrapper
              .col.s10
                h5 My Information
              .col.s2
                form(action="/account/edit" method="post")
                  button.btn.right(type='submit') 
                    i.material-icons.right create
            if user
              .row
              span Name: #{user.name}
              .row
              span Email: #{user.email}
              .row
              span Created: #{user.created}
            else
              .row
              span Name: Something went wrong...
              .row
              span Email: Something went wrong...
              .row
              span Created: Something went wrong...
  // ----------------------------------------------------------------------
  
  // ---------------------------------JAVASCRIPT---------------------------

  // ----------------------------------------------------------------------                 

//- code for when ready to test
//-           .col.s5.pull-s5
//-             .card.deep-purple
//-                .card-content.white-text-action
//-                   span.card-title My Information
//-                   .row
//-                   p First Name: #{user.first_name}
//-                   .row
//-                   p Last Name: #{user.last_name}
//-                   .row
//-                   p Email: #{user.email}
