extends layout

block content
	// --------------------------CSS---------------------------------
	link(rel='stylesheet', href='/stylesheets/item.css')
	// --------------------------CSS---------------------------------

	// ---------------------------	CONTENT----------------------------
	.row
		// split screen in half with 2 floating containers
		#infoBox
			.row
				h4#header Title
				p#title(class="highlight") #{item.name}
				h4#header Description
				p#description(class="highlight") #{item.description}
				h3#price(class="highlight" style="float:left") $#{item.price}
				button#itembutton(style="float:right" type="submit" form="messageForm") Contact
			.row
				form(action="/item/message" method="post")#messageForm
					.input-field
						//label(for='messageArea') Message Owner
						input(type="hidden", name="item_id", value=item.id)
						textarea#messageArea.materialize-textarea(name='message' autocomplete="off" placeholder="  Message Owner Here"  required)
						
		#imageBox
			img#image(src='/images/items/' + item.image alt='image not found')
			if error
				h6.red-text Error: #{error}

	// ---------------------------	CONTENT----------------------------

	// ---------------------------	JS ----------------------------
	script(src='/javascripts/item.js')
	// ---------------------------	JS ----------------------------
