extends layout

block content
	// THIS THIS THE ITEM PAGE, WHERE YOU CAN VIEW THE ITEM IN DETAIL
	// AND CONTACT THE SELLER
	// --------------------------CSS---------------------------------
	link(rel='stylesheet', href='/stylesheets/item.css')
	// --------------------------CSS---------------------------------

	// ---------------------------	CONTENT----------------------------
	//- Title
	.row#infoBox.center
		// split screen in half with 2 floating containers
		h4.white-text#title #{item.name}

	//- Image
	.row#imageBox.center
		img#image(src='/images/items/' + item.image alt='image not found')

	//-  Description
	.row#infoBox
		h6.white-text#description #{item.description}
		h3#price(class="highlight" style="float:left") $#{item.price}
		
	//- Contact Seller
	.row#infoBox
		h3#contact Contact Seller
		form(action="/item/message" method="post")#messageForm
			.input-field
				//label(for='messageArea') Message Owner
				input(type="hidden", name="item_id", value=item.id)
				textarea#messageArea.materialize-textarea(name='message' autocomplete="off" placeholder="  Message Owner Here"  required)
				button.btn-large.left#itembutton(type="submit" form="messageForm") Contact
		
			//- if error
			//- 	h6.red-text Error: #{error}

	// ---------------------------	CONTENT----------------------------

	// ---------------------------	JS ----------------------------
	script(src='/javascripts/item.js')
	// ---------------------------	JS ----------------------------
